@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;

h1 {
  @apply text-4xl font-bold mt-6 mb-6;
}

h2 {
  @apply text-3xl font-bold mt-6 mb-6;
}

h3 {
  @apply text-2xl font-bold mt-6 mb-6;
}

h4 {
  @apply text-xl font-bold mt-6 mb-6;
}

h5 {
  @apply text-lg font-bold mt-6 mb-6;
}

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gaultier';
  font-weight: 400;
  src: url('/assets/fonts/Gaultier-Regular.otf');
}

.common-button {
  @apply hover:opacity-50 disabled:opacity-60 disabled:cursor-not-allowed
}

main {
  @apply min-h-screen relative pt-navigation bg-yellow-100
}

header {
  @apply fixed top-0 left-0 right-0 h-navigation flex justify-between items-center py-5 bg-green-100
}

footer {
  @apply absolute bottom-0 left-0 right-0 py-5 bg-red-100
}

.home {
  @apply h-[1000px]
}